* {
    background-color: #67c3d0;
    padding: 0;
    margin: 0;
}
.main > nav > ul{
    display: flex;
    list-style-type: none;
    text-decoration: none;
    height: 150px;
    align-items: center;
}
.main > nav > ul > li > a{
    text-decoration: none;
    color: white;
    background-color: #485264;
    padding: 5px;
    text-transform: uppercase;
    margin-left: 10px;
    font-size: 18px;
    font-family: sans-serif;
}
.main > nav > ul > .user {
    margin-left: 320px;
}

.main > nav > ul > .user > li > a {
    color: white;
    background-color: #485264;
    padding: 5px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    font-family: sans-serif;
}

.main > nav > ul> .logo{
    height: 140px;
}
.background-image{
    padding-left: 760px;
    height: 400px;
    position: fixed;
}

.background2 {
    margin-left: 120px;
}
.background-image2{
    position: fixed;
    height: 400px;
}

.main > nav > ul > .title{
    display: flex;
    margin-left: 240px;
}

.main > nav > ul > .title > .record, .management, .system {
    margin-left: 7px;
}

.main > nav > ul > .title > .medkit > li > a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    color: #485264;
}
.main > nav > ul > .title > .medkit > li > a:hover{
    cursor: cell;
}

.main > nav > ul > .title > .record > li > a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    color: #485264;
}

.main > nav > ul > .title > .record > li > a:hover{
    cursor: cell;
}

.main > nav > ul > .title > .management > li > a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    color: #485264;
}

.main > nav > ul > .title > .management > li > a:hover{
    cursor: cell;
}

.main > nav > ul > .title > .system > li > a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;  
    color: #485264;
}

.main > nav > ul > .title > .system > li > a:hover{
    cursor: cell;
}