<!DOCTYPE html>
{% load static %}
<html>

<head>
  <title>Login Page</title>
</head>
<link rel="stylesheet" href="{% static 'statics/style/login.css' %}" />

<body>
  <div class="main">
    <nav>
      <ul>
        <img src="{% static 'statics/images/logo-icon.png' %}" alt="logo" class="logo">
        <li><a href="/">home</a></li>
        <div class="title">
          <div class="medkit">
            <li><a href="">Medkit</a></li>
          </div>
          <div class="record">
            <li><a href="">Record</a></li>
          </div>
          <div class="management">
            <li><a href="">Management</a></li>
          </div>
          <div class="system">
            <li><a href="">System</a></li>
          </div>
      </ul>
    </nav>
  </div>

  <div class="login">
    <h4 class="logTitle">Login your account</h4>
    <div class="logInput">
      <form action="{% url 'addmedkits' %}" method="POST">
        {% csrf_token %}
        <div class="user">
          <input type="text" placeholder="Username" name="username" id="username" class="username" required />
        </div>
        <div class="pass">
          <input type="password" placeholder="Password" name="pass1" id="pass1" class="pass1" required />
        </div>
        <div class="createBtn">
          <a href="createpage" class="create">Create your account</a>
        </div>
        <div class="loginBtn">
          <button type="submit" class="log">Login</button>
        </div>
      </form>
    </div>
  </div>

</body>

</html>